body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 50px;
    margin: auto;
    text-align: center;
} 

#navigationBar div {
    
}

#navigationBar ul {
    text-align: center;
    margin: auto;
}

#navigationBar li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 35px;
}

#navigationBar a:link {
    text-decoration: none;
    color:#ff8080;
}

#navigationBar a:visited {
    text-decoration: none;
    color:#ff8080;
}

#navigationBar a:hover {
    text-decoration: none;
    color:#e8e8e8;
    transition-duration: 300ms;
}

.page p {
    font-size: 30px;
    margin: auto;
    text-align: center;
}