body {
    background-image: url("background.jpg");
    margin: 30px 30px; 
    font-family: 'Rubik', sans-serif;
}

h1 {
    border: 2px solid #e6e6e9;
    margin: 15px 15px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
    background-color: #e6e6e9;
}

h4 {
    margin: 15px 15px;
    padding: 5px 5px;
}

.navigationBar {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e9;
    border: 2px solid #FF7171;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
}

.socialMedia {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e9;
}

.favoriteVids {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0px;
    overflow: hidden;
    background-color: #e6e6e9;
}

embed {
    margin: 15px 15px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    border-radius: 60px;
    transition-duration: 250ms;
    box-shadow: 0px 0px 3px gray;
}

a:active {
    color: black; 
    text-decoration: none;
}

li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    display: inline-block;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #a2a2a2;
    border: #a2a2a2;
}

div {
    border: 2px solid #777777;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
    background-color: #e6e6e9;
    margin: 15px 15px;
}

iframe {
    margin: 10px;
    box-shadow: #0000005e 0 0 10px;
}

div.scrollmenu {
    background-color: #E6E6E9;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }