body {
    background-image: url("background.jpg");
    margin: 30px 30px; 
    font-family: 'Rubik', sans-serif;
}

h1 {
    border: 2px solid #e6e6e9;
    margin: 15px 15px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
    background-color: #e6e6e9;
}

h4 {
    margin: 15px 15px;
    padding: 5px 5px;
}

#navigationBar {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e9;
    border: 2px solid #40c9a2;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
}

#socialMedia {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e9;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black; 
    text-decoration: none;
}

li {
    list-style-type: none;
    float: left;
    text-decoration: none;
    display: inline-block;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #a2a2a2;
    border: #a2a2a2;
}

div {
    border: 2px solid #664147;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px gray;
    background-color: #e6e6e9;
    margin: 15px 15px;
}