body {
    font-family: 'Nunito', sans-serif;
    background-image: url('background.jpg');
}

h1 {
    font-size: 50px;
    margin: auto;
    text-align: center;
    color: #ff8080;
} 

#navigationBar {
    text-align: center;
    margin: auto;
    padding: 0;
    width: fit-content;
    border-bottom: 5px solid #ff8080;
    border-radius: 5px;
}

#navigationBar li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 35px;
}

#navigationBar a:link {
    text-decoration: none;
    color:#ff8080;
}

#navigationBar a:visited {
    text-decoration: none;
    color:#ff8080;
}

#navigationBar a:hover {
    text-decoration: none;
    color:#e8e8e8;
    transition-duration: 300ms;
}

.page h3 {
    font-size: 40px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    color: #e8e8e8;
}

.page p {
    font-size: 30px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    width: 50%;
    color: #e8e8e8;
}

.page ul {
    font-size: 30px;
}

.page li {
    margin: auto;
    text-align: center;
    list-style-position: inside;
    color: #e8e8e8;
}